
/*header*/

/*Fim do header*/

/* Perfil*/


.grande {
    width: 80%;
   
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    justify-content: space-between;
    -webkit-box-flex: 1;
    background-color: rebeccapurple;
   
    
}
.sidebar{
    
    flex:0.2;
    display:flex;
    flex-direction:column;
    background-color:aqua;
}
.account-nav {

    margin:auto;
    vertical-align:central;
}
.nav-item {
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.aluno {
    margin-left: 3vw;
    flex: 1;
    background-color: crimson;
    display:grid;
    grid-template-columns: 65% 33%;
    grid-gap: 2%;
}
.aluno-info, .aluno-foto {
    margin: 1vw;
    flex: 1;
    background-color: chartreuse;
}
.card-info {
    box-sizing: border-box;
    background-color: #1d222d;
    box-shadow: 4px 4px 8px #0003;
    border-radius: 4px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: ease-in-out .2s;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 3.8vh;

}
.header {
    padding: 2vw;
    border-bottom: 1px solid #171b23;
    display: flex;
    align-items: center;
    justify-content: start;
}
.profile {
    margin: 0;
    padding: 0;
    border: 0;
    
    font: inherit;
    vertical-align: baseline;
}
.titulo {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin-left: 2.4vw;
    width: 80%;
}
.mudar {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.btn-mudar {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    
}
.info {
    padding: 3vw 0 0;
    border-top: 2px solid rgba(255,255,255,.05);
    font-size: 1.5vw;
    font-family: 'Barlow Semi Condensed', sans-serif;

}
.detalhe {
    padding: 1vw;
    font-family: Chakra Petch,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 4vh;
    letter-spacing: .05em;
    color: #fff;
    display: flex;
    align-items: center;
}
.um {
    width: 25%;
 
}
.value {
    width: 75%;
    text-align: right;
}

/*
.card-perfil {
    width: 30%;
    border-radius: 20px;
    background-color: #0A3876;
    border: solid 0.2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    border-color: #175785;
}
.card-texto{
    flex:1;
    font-size:2vw;
}
.card-img{
    flex: 1;
    width:10vw;
    height:10vh;
    text-align:center
}
.card-img img{
  width:100%;
  background-color:none;
  
}
h1 {
    font-family: 'Poppins';
    text-align:center;
    font-size:3vw;
    color:white;
}
.mudar {
    font-family: 'Inter';
    text-align: center;
    font-size: 1vw;
    color: #00C2FF;
}
.info {
    font-family: 'Poppins';
    text-align: left;
    font-size: 2vw;
    color: white;
}
*/

/*Fim do Perfil*/
